@charset "utf-8";
/* CSS Document */

body, html, div, h1, h2, h3, h4, h5, h6, p, br, ul, ol, li, table, th, tr, td, blockquote, form, fieldset, label {
	margin: 0; padding: 0;  }
	
/* body and wrappers */
body { 
	font-family: Verdana, Arial, Helvetica, Sans-Serif; 
	background-color: #EEE; color: #464645; }
	
#wrapper { 
	width: 1032px;
	margin: 0 auto; padding-top: 7px;
	background: url(/assets2011/images/page_bg.jpg) repeat-y; }
	
  #innerwrapper { 
  		width: 1032px; min-height: 610px; padding-bottom: 18px;	
		background: url(/assets2011/images/page_bottom.jpg) no-repeat bottom center; }

/* alterations to body and wrappers for modal windows */
	body#modalwindow { background-color: #FFF; margin: 45px 40px 50px 40px; }

		
	#header { 
		width: 990px; height: 93px; 
		position: relative; 
		margin: 0 auto; 
		background: #C33 url(/assets/images/header_bg.jpg) no-repeat top left; }
		
		a#homelink { 
			width: 190px; height: 62px; position: absolute; 
			top: 16px; left: 16px; text-decoration: none; 
			text-indent: -9999px; overflow: hidden; }
		
		a#tagline { 
			width: 182px; height: 62px; position: absolute; 
			top: 16px; left: 206px; text-decoration: none; 
			text-indent: -9999px; overflow: hidden; }
			
		#header_search { 
			width: 400px; height: 20px; position: absolute; 
			top: 30px; right: 23px; text-align: right; }
			
				#header_search_text { width: 190px; height: 20px; text-align: right; float: left; }
				#header_search_text p { line-height: 20px; font-size: 11px; font-weight: bold; color: #FFF; }
				#header_search_text a { text-decoration: none; color: #FFF; }
					#header_search_text a:hover { text-decoration: underline; }
				
				#searchform input { font-size: 11px; }
	
		#breadcrumbs { 
			width: auto; height: 20px; position: absolute; 
			top: 60px; right: 23px; text-align: right; color: #FFF; font-size: 11px; }
			
			#breadcrumbs a { color: #FFF; text-decoration: none; }
			#breadcrumbs a:hover { text-decoration: underline; }
			
	/* main navigation */
	#mainnav { 
		width: 990px; height: 24px; margin: 0 auto; 
		position: relative; z-index: 2; /* z-index must remain for IE7 z-index bug */ 
		background-color: #F2F2F3; }

		#mainnav ul { list-style-type: none; width: 100%; }
			#mainnav ul li { 
				display: block; height: 24px;
				float: left; text-align: center; 
				font-size: 11px; line-height: 24px; }
					
					li#nav_abt  { width: 133px; }
					li#nav_adm  { width: 113px; }
					li#nav_acd  { width: 124px; }
					li#nav_rch  { width: 113px; }
					li#nav_str  { width: 175px; }
					li#nav_ath  { width: 102px; }
					li#nav_ofs  { width: 100px; }
					li#nav_gft  { width: 130px; }
					
					/* temporary navigation for rebuilt */
					li#nav_tmphm { width: 80px; }
					li#nav_tmpstu { width: 100px; }
					li#nav_tmpalm { width: 145px; }
					li#nav_tmpadm { width: 120px; }
					li#nav_tmpacd { width: 170px; }
					li#nav_tmprsh { width: 108px; }
					li#nav_tmpcal { width: 160px; }
					li#nav_tmpres { width: 106px; }
		
			#mainnav ul li:hover { background-color: #DFDFDF; }
			#mainnav ul li.active { background-color: #DFDFDF; }

				#mainnav ul li a { text-decoration: none; color: #464645; }

			#mainnav ul li a.dd { 
				background-image: url(/assets2011/images/arrow.png); 
				background-position: bottom right; background-repeat: no-repeat;
				padding-right: 13px; }
				
		/* main level subnavigation */
		
		#mainnav ul li ul { 
			display: none; 
			position: absolute; top: 23px; z-index: 6000; 
			height: auto; background-color: #DFDFDF; }
			
		#mainnav ul li:hover ul, #mainnav ul li.over ul { display: block; }
			
			#mainnav ul li ul li { height: auto; display: block; text-align: left; }
			#mainnav ul li ul li a { 
				display: block; min-height: 23px; }
				
				#mainnav ul li ul li a:hover { background-color: #F2F2F3; }
			
			#mainnav ul li#nav_abt ul  { left: 0px; width: 305px; float: none;  } 
				#mainnav ul li#nav_abt ul li a { width: 280px; padding: 4px 0 4px 25px; } 
				
			#mainnav ul li#nav_adm ul  { left: 133px; width: 320px; float: none;  }
				#mainnav ul li#nav_adm ul li a { width: 302px; padding: 4px 0 4px 18px; }
			
			#mainnav ul li#nav_acd ul  { left: 246px; width: 294px; float: none; }
				#mainnav ul li#nav_acd ul li a { width: 269px; padding: 4px 0 4px 25px; } 
			
			#mainnav ul li#nav_rch ul  { left: 370px; width: 175px; float: none; }
				#mainnav ul li#nav_rch ul li a { width: 151px; padding: 4px 0 4px 24px; }
			
			#mainnav ul li#nav_str ul  { left: 483px; width: 175px; float: none; }
				#mainnav ul li#nav_str ul li a { width: 147px; padding: 4px 0 4px 28px; }
			
			#mainnav ul li#nav_ofs ul  { left: 760px; width: 205px; float: none; }
				#mainnav ul li#nav_ofs ul li a { width: 181px; padding: 4px 0 4px 24px; }
			
	/* HOMEPAGE */
	#home_slider { 
		width: 990px; height: 346px;  margin: 0 auto;
		position: relative; z-index: 1; /* z-index must remain for IE 7 z-index bug fix */ }
	
	
	#home_subcontent { 
		width: 990px; min-height: 330px; max-height: 500px;
		position: relative; margin: 8px auto;
		background: url(../images/home_subcontent_bg.gif) no-repeat bottom right;	}
		
		#home_subcontent_inner { width: 990px; position: relative; min-height: 400px;
			background: url(../images/home_subcontent_top.gif) no-repeat top right; }
			
			ul#home_submenu { 
				list-style-type: none;
				width: 213px; min-height: 300px; float: left; 
				background: url(/assets2011/images/home_subcontent_menu.jpg) no-repeat 0 46px; }
				
				ul#home_submenu li { display: block; width: 213px; height: 41px; padding: 6px 0; }
				ul#home_submenu li:first-child { margin-top: 46px; }
				
				ul#home_submenu li a { 
					display: block; width: 213px; height: 41px; 
					font-size: 11px; padding-left: 23px; 
					text-decoration: none; color: #464645; }
					
					ul#home_submenu li a.single { padding-top: 12px; }
					ul#home_submenu li a.double { padding-top: 6px; }
					
				ul#home_submenu li a:hover { color: #000; }
				ul#home_submenu li.active a, 
				ul#home_submenu li a.active { 
					color: #FFF; 
					background: url(/assets2011/images/home_subactive.png) no-repeat top left;  }
				
				#home_subcontent div.content { display: none; }
				
				#home_subcontent div.content { 
					width: 770px; min-height: 300px; 
					position: relative; top: 0; left: 0; margin-left: 213px; }
					
					#home_subcontent .sm_column { 
						width: 215px; min-height: 250px; float: left; padding: 0 20px; }
						
						#home_subcontent .col_no_bg { background: none !important; }
					
					#home_subcontent div.content h2 { 
						font-family: PFDinTextPro-Light; letter-spacing: 0.05em; font-size: 14px; 
						font-weight: normal; color: #FFF; padding: 8px 0 0 0; margin: 0 0 25px 0; }
						
						#home_subcontent h2 a { color: #fff !important; text-decoration: none; }
						
						
						#home_subcontent div.content p, 
						#home_subcontent div.content ul { 
							font-size: 11px; }
							
							#home_subcontent ul#newslinks { list-style-type: none; }
							#home_subcontent ul#newslinks li { 
								padding: 0 0 15px 0;
								background: none; }
							
							#home_subcontent ul#listoflinks { list-style-type: none; }
								#home_subcontent ul#listoflinks li { padding: 0 0 15px 0;  } 
								ul#listoflinks a { background: url(/assets2011/images/subhometesting/chevron.gif) no-repeat top right; padding: 0 15px 0 0; }
						
						#home_subcontent div.content a { color: #666; text-decoration: none;}
						#home_subcontent div.content a:hover { color: #A19D83; text-decoration: underline; }
						#home_subcontent div.content a:visited { color: #A19D83; text-decoration: none; }
					
					#home_clarkyoulogin	{ 
						font-size: 11px; margin: -4px 0 13px 0;
						border-bottom: 1px solid #D8D8D8; padding-bottom: 10px; }
						
						#home_clarkyoulogin input { margin: 4px 0 6px 0; }
		
			
	#level2image { width: 990px; height: 188px; position: relative; z-index: 1; margin: 0 auto;  }
	#level2image img { position: absolute; top: 0; left: 0; z-index: 3; }	
		#level2image #text { 
			position: absolute; top: 110px; left: 23px; 
			z-index: 6; height: 100px; width: 250px; }
		#level2image h1 { 
			font-family: PFDinTextPro-Regular; font-size: 22px; color: #FFF; 
			font-weight: normal; margin-bottom: 3px; }
			
			#level2image h2 { 
				font-family: PFDinTextPro-Regular; font-size: 18px; color: #FFF; 
				font-weight: normal;  }
	
	#siteheading { width: 990px; height: 50px; margin: 0 auto; position: relative; padding-bottom: 2px; z-index:1; }
		#siteheading h1 { 
			font-family: PFDinTextPro-Light; padding: 22px 0 0 23px;  
			font-size: 20px; font-weight: normal; color: #464645; }
			
/* hack below for Microsoft Edge browser drop-down menu: */
	.udm { position: relative !important; }
	
	#contentwrapper { width: 990px; height: auto; margin: 0 auto; position: relative; z-index: 1; /* z-index must remain for IE 7 z-index bug fix */ }
	   /* content wrapper modified for level II pages and for terminal pages */
	   #level2_contentwrapper  { width: 990px; height: auto; margin: 23px auto 0 auto;  position: relative; z-index: 1; /* z-index must remain for IE 7 z-index bug fix */ }
	   #level2_contentwrapperfull,  { width: 990px; height: auto; margin: 23px auto 0 auto; position: relative; z-index: 1; /* z-index must remain for IE 7 z-index bug fix */ }
	   #contentwrapperfull { width: 990px; height: auto; margin: 0 auto; position: relative; z-index: 1; /* z-index must remain for IE 7 z-index bug fix */ }
		
		#sidebar { width: 280px; float: right; min-height: 300px; }
		#sidebar h3 { font-size: 12px; margin-top: 40px; }
		#sidebar  table { width: 260px; font-size: 11px;  border: 1px solid #DEDDC1; margin-bottom: 40px;padding: 8px;margin-top: 12px;}
				
		/* UDM Menu ---  Necessary!!!! --- expanding menu styling  */
			ul#udm { line-height: 1.6; font-family: 'verdana',arial,helvetica,sans-serif; font-size: 12px !important; list-style-type: none;  }
			#udm ul {
				margin-left:0 !important;
				margin-top: 1px !important;
				width:276px !important;
				list-style-type: none;
				line-height: 1.4 !important; 
				}
			 
			 #udm ul li a { font-size: 12px !important; }
			/* styling the active state for submenu items */
			#udm ul li#active a { color: #000; font-weight: bold !important; text-decoration: none; }


			/* all sidebar content below the menu is styled here */
						
			.sidebarcontent { width: 280px; height: auto; margin: 20px 0 20px 0; clear: both; }
			.sidebarcontent_border { width: 278px; height: auto; border: 1px solid #DEDDC1;  margin: 20px 0 20px 0;  }
				.sidebarcontent .slantheading, .sidebarcontent_border .slantheading { 
					height: auto; margin-bottom: 10px; 
					background: url(/assets2011/images/slantheader.gif) no-repeat bottom left; }
				
				.sidebarcontent .slantheading { width: 280px; }
				.sidebarcontent_border .slantheading { width: 278px; }
				
					
					.slantheading h2 { 
						font-family: PFDinTextPro-Light; font-size: 16px !important; line-height: 1.2 !important;  
						padding: 10px 10px 24px 0 !important; color: #464645 !important;  }
						
						.sidebarcontent .slantheading h2 { padding-left: 10px !important; }

				.sidebarcontent h2, .sidebarcontent_border h2 { 
					font-family: PFDinTextPro-Light; font-size: 16px; line-height: 18px; 
					color: #C33;  margin-bottom: -10px; font-weight: normal; }
				.sidebarcontent h3, .sidebarcontent_border h3 { 
					font-family: PFDinTextPro-Light;
					color: #000; font-size: 14px; line-height: 16px; margin-bottom: -10px; font-weight: normal; }
				.sidebarcontent h4, .sidebarcontent_border h4 { 
					font-family: PFDinTextPro-Regular;
					color: #888; font-size: 13px; margin-bottom: -10px; font-weight: bold; }
					
						.sidebarcontent_border h2, .sidebarcontent_border h3, .sidebarcontent_border h4 { margin-left: 10px; }
				
				.sidebarcontent p { font-size: 12px; margin: 14px 0; line-height: 180%; }
				.sidebarcontent_border p { font-size: 12px; margin: 14px 10px; line-height: 180%; }
				
				.sidebarcontent ul { font-size: 12px; margin: 14px 10px 14px 14px;  line-height: 180%;  }
				.sidebarcontent_border ul { font-size: 12px; margin: 14px 20px 14px 28px;  line-height: 180%;  }
				
				.sidebarcontent ol { font-size: 12px; margin: 14px 10px 14px 18px;  line-height: 180%;  }
				.sidebarcontent_border ol { font-size: 12px; margin: 14px 20px 14px 28px;  line-height: 180%;  }
				
				.sidebarcontent hr {border: 0; color: #E7E7E8; background-color: #E7E7E8; height: 1px; width: 100%; text-align: left; margin: 15px 0px 20px 0px;}
				
				.sidebarcontent a, .sidebarcontent_border a {color: #666; text-decoration: underline;}
				.sidebarcontent a:hover, .sidebarcontent_border a:hover {color: #A19D83; text-decoration: underline;}
				.sidebarcontent a:visited, .sidebarcontent_border a:visited {color: #A19D83; text-decoration: underline;}
				
				.sidebarcontent.sidevideo { margin: 15px 0px; }
				.sidebarcontent.sidevideo p {font-size: 12px; line-height: 12px;}
				.sidebarcontent p.caption { line-height: 14px; font-size: 11px; margin-top: 7px; color: #9a9a9a; }
				
				.sidebarcontent_border table.form { border: none !important; margin-bottom: 10px !important; }
				.sidebarcontent td, .sidebarcontent_border td { font-size: 12px; margin: 14px 0; line-height: 180%; }
				
				.sidebarcontent ul#resourcelinks { list-style-type: none; margin: 14px 0; }
				.sidebarcontent_border ul#resourcelinks { list-style-type: none; margin: 14px 11px; }
				  .sidebarcontent ul#resourcelinks li, .sidebarcontent_border ul#resourcelinks li { padding: 7px 0; } 
				  .sidebarcontent ul#resourcelinks li a, .sidebarcontent_border ul#resourcelinks li a { text-decoration: none;  }
				
				.sidebarcontent a img { border: none; }
				.sidebarcontent_border a img { border: none; }
						
			.sideaudio { 
				width: 279px; min-height: 110px; margin-bottom: 30px; 
				background: #E9E7D6 url(/assets2011/images/audio.gif) no-repeat top left; float: left;}	
				.sideaudio .audioplayer { margin-left: 30px;}
				.sideaudio img.rightimg { margin: 20px 10px 10px 15px; float: right; width: 87px;}	
				.sideaudio .audiotext { padding: 0 0 10px 25px; width: 150px;}
					.sideaudio .audiotext p { font-size: 12px; margin: 14px 10px; line-height: 1.6; }
					.sideaudio .audiotext a {color: #666; text-decoration: underline;}
					.sideaudio .audiotext a:hover {color: #A19D83; text-decoration: underline;} /* WOULD LIKE TO DISCUSS HOVER AND VISITED COLORS */
					.sideaudio .audiotext a:visited {color: #A19D83; text-decoration: underline;}
				.sideaudio .audiotime {font-size: 11px; font-weight: bold; }
			

	#content { width: 659px; height: auto; float: left; margin-left: 23px; }
		
		/* content modified for terminal pages - no sidebar included */
		#level2_contentwrapperfull #content { width: 942px !important; margin-left: 40px; }
		#contentwrapperfull #content { width: 942px;  margin-left: 24px;  }
		/* content modified for modal windows - width changed to 100% */
		#modalwindow #content { width: 100%; margin: 0 40px 0 0; }
	
		#contenttext { width: 659px; height: auto; border-top: 1px solid #CACACA; padding-top: 18px; }
		#contenttext_nobar {  width: 659px; height: auto; }
		
		#level2_contentwrapperfull #content #contenttext { width: 942px; border: none; }
		#contentwrapperfull #content #contenttext { width: 942px; }
		 
			img.content_top { margin-bottom: 18px; }
		
				#content h1 { 
					font-family: PFDinTextPro-Light; letter-spacing: 0.05em; font-size: 22px; 
					font-weight: normal; color: #C33; margin: 0 0 20px 0; }
						/* extra margin-bottom for modal windows */
						#modalwindow #content h1 { margin-bottom: 20px; }
				#content h2, #content h2 a { 
					font-family: PFDinTextPro-Light; font-weight: normal; letter-spacing: 0.05em; 
					font-size: 18px; color: #C33; margin: 15px 0 12px 0; }
				#content h3, #content h3 a { 
					font-family:PFDinTextPro-Light; margin: 15px 0 7px 0; font-size: 16px; color: #464645; }
				#content h4, #content h4 a { 
					font-family: PFDinTextPro-Regular; color: #464645; font-size: 14px; }
				#content p { font-size: 12px; margin: 0 0 18px 0; line-height: 1.6; }
				#content p.caption { line-height: 14px; font-size: 11px; margin-top: 7px; color: #9a9a9a; }
				#content ol { font-size: 12px; margin: 14px 10px 14px 24px;  line-height: 1.8;  } 
				#content ul { font-size: 12px; margin: 14px 10px 14px 19px;  line-height: 1.8;  }
					#content ol ul, #content ul ul { list-style-type:disc; }
					#content ol ol { list-style-type:lower-alpha; }
					
					ol.paragraphs li, ul.paragraphs li { padding-bottom: 15px; }
					ol.paragraphs li ol li, ol.paragraphs li ul li, 
					ul.paragraphs li ul li, ul.paragraphs li ol li { padding-bottom: 0px; }
				
				#content a { color: #666; text-decoration: underline;}
				#content a:hover { color: #A19D83; text-decoration: underline;}
				#content a:visited { color: #A19D83; text-decoration: underline;}
				
				#content blockquote { margin: 25px 50px; }
				
				#content hr {border: 0; color: #E7E7E8; background-color: #E7E7E8; height: 1px; width: 100%; text-align: left; margin: 20px 0px 30px 0px;}
				
				/* definition lists */
				dt { font-family: PFDinTextPro-Regular; color: #464645; font-size: 18px; margin: 16px 0; }
				dd { font-size: 12px; margin: 0 0 25px 20px; line-height: 1.6; }
				
				
				/* basic table styles */
				#content table { border: 2px solid #D8D2AF; width: 100%; margin: 18px 0; }
				#content table tr { vertical-align: top; }
				#content table th { background-color: #D8D2AF; border: 1px solid #E7E7E8; font-size: 12px; padding: 4px; text-align: left;}
				#content table tbody tr td { border: 1px solid #E7E7E8; font-size: 12px; padding: 4px; margin: 2px; text-align: left; line-height: 180%;}
				#content table tbody tr.selected td { border: 1px solid #E7E7E8; font-size: 12px; padding: 4px; margin: 2px; text-align: left; line-height: 180%; background-color: #FF0;}
					
					
				/* unstyled table */
				#content table.unstyled { border: none; width: 100%; margin: 18px 0; }
				#content table.unstyled tr	{ vertical-align: top; }
				#content table.unstyled th { background-color: none; border: none; }
				#content table.unstyled td { border: none; }
				
					td.label { text-align: right !important; padding: 0 10px 0 0; }
					td.input { padding: 0 0 3px 0; }
					
					td ol { margin: 10px 10px 20px 30px !important; }
				
				
				/* Faculty Bio Pages */
				#facultybios table, #facultybios th, #facultybios td { border: none !important; }
				
				/* form styles */
				fieldset { border: 1px solid #CACACA; padding: 10px; margin: 15px 0; }
				
				
				/* columns inside contenttext, use a .columns div to break from above content and add a top/bottom margin  */
				.columns  { clear: both; margin: 30px 0; }
					.column_content { width: 300px; float: left; } /* add a .column-content div for each column */
					.columns .column_content:first-child { margin-right: 40px; } /* this creates the center whitespace */
					
					#contentwrapperfull .column_content { width: 278px; margin: 0 0 0 40px; }
						#contentwrapperfull .column_content:first-child { margin-left: 0 !important; }
					#level2_contentwrapperfull  .column_content { width: 278px; margin: 0 0 0 40px; }
						#level2_contentwrapperfull .column_content:first-child { margin-left: 0 !important; }
				
				/* Red Text */
				.red { color: #C33; }
	
	/* content area left-side submenu */
	#leftsubmenu { 
		width: 150px; height: auto; float: left; 
		margin: 0 20px 15px 0px; padding: 20px 10px 20px 20px; 
		background: #f3f3f4 url(/assets2011/images/left_submenu_topslant.gif) no-repeat top left; }
	#leftsubmenu p{ font-size: 11px;}
	#leftsubmenu a{ text-decoration: none;}
	
		#leftsubmenu ul#pagenav { list-style-type: none; margin: 20px 6px 20px 0; }
		  ul#pagenav li { height: auto; width: auto; border-bottom: 1px dotted #A19D83; padding: 8px 0; }
		  	ul#pagenav li a { color: #464646 ;  }
		  	ul#pagenav li.active a { color: #000 !important; }
			ul#pagenav li.active a:hover { text-decoration: none !important; }
			
			ul#pagenav li a:visited { color: #464646; }

			
			#leftsubmenu a.textlinks { text-decoration: underline;}
			
	
	
		/* and a container for the content area to prevent wrapping */
		#floatedcontent { width: 459px; height: auto; float: right; }
	
	
	/* specialty styles */
				.graybox { background-color: #F3F3F4; padding: 15px; }
					.graybox h3 { margin-top: 0 !important; }
		
				/* thumbnail and text for video/audio content - pop-ups to modal windows */
				img.thumb { float: left; margin: 5px 15px 15px 0; border: 0; }
				img.homethumb { float: left; margin: 5px 15px 11px 0; border: 0; }
					span.thumbtext { display: block; width: 230px; float: left; }
					
				
				img.rightfloat { float: right; margin: 5px 0 15px 15px; border: 0; }
				
		/* admissions calls to action */
		ul#actionitems { list-style-type: none; margin-bottom: 20px; }
			ul#actionitems li { 
				float: left; font-size: 0.825em; padding: 9px 0; 
				background-color: #C33; text-align: center; 
				-webkit-border-radius: 4px;
				border-radius: 4px; }
			
				ul#actionitems li#actionapply, ul#actionitems li#actionvisit { width: 74px; margin-right: 10px; }
				ul#actionitems li#actionmoreinfo { width: 112px; }
				
				ul#actionitems a, ul#actionitems a:visited { color: #FFF; text-decoration: none; }
				ul#actionitems a:hover { color: #000; }


	/* special list styles */
				ol#business li { margin: 20px 0; }
				ul.business li { margin: 20px 0; }
					
				
							
		
	#footerclear { height: 25px; width: 100%; clear: both; }
	#footer { 
		width: 990px; height: 150px; margin: 25px auto 0 auto; 
		position: relative; clear: both;
		background-color: #464645;  line-height: 1.5; color: #FFF; }
		
		#homepage #footer { margin-top: 0px !important; }
		
		p#address { width: 400px; height: auto; position: absolute; top: 24px; left: 23px; font-size: 11px; }
		p#directions { width: 400px; height: auto; position: absolute; bottom: 10px; left: 23px; font-size: 11px; font-weight: bold; }
		p#policies { width: 400px; height: auto; position: absolute; top: 75px; right: 23px; text-align: right; font-size: 10px; }
		#footer_right { width: 336px; height: auto; 
			position: absolute; top: 12px; right: 23px; 
		/* float: right; margin: 12px 23px 0 0; */ text-align: right; }
		
		#footer p { margin: 0 0 12px 0; }
		
		#footer a { text-decoration: none; color: #FFF; }
		#footer a:hover { text-decoration: underline; }
	

/* social media - main Clark site */
		ul#socialmedia { 
			list-style-type: none; width: 336px; height: 56px; 
			position: absolute; top: 12px; right: 23px;
			background: url(/assets2011/images/socialmedia_bg.jpg) no-repeat top left; }
			
			ul#socialmedia li { 
				display: block; width: 32px; height: 33px; 
				position: absolute; top: 12px;  }
				
				ul#socialmedia li a { display: block; width: 32px; height: 33px; text-indent: -9999px; overflow: hidden; }
				
				li#sm_fb { left: 0; }
				li#sm_yt { left: 40px; }
				li#sm_fl { left: 80px; }
				li#sm_li { left: 120px; }
				li#sm_tw { left: 160px; }
				li#sm_fs { left: 200px; } /* foursquare - being replaced with pinterest */
				li#sm_pi { left: 200px; } /* pinterest */
				li#sm_cv { left: 264px; }
				li#sm_nh { left: 304px; }
				
				ul#socialmedia li a:hover { text-decoration: none; }

/* social media - GSOM */
		ul#socialmedia_gsom { 
			list-style-type: none; width: 296px; height: 56px; 
			position: absolute; top: 12px; right: 23px;
			background: url(/assets2011/images/socialmedia_gsom.jpg) no-repeat top left; }

			ul#socialmedia_gsom li { 
				display: block; width: 32px; height: 33px; 
				position: absolute; top: 12px;  }
				
				ul#socialmedia_gsom li a { display: block; width: 32px; height: 33px; text-indent: -9999px; overflow: hidden; }
					
				li#sm_fb_gsom { left: 1; }
				li#sm_yt_gsom { left: 40px; }
				li#sm_fl_gsom { left: 80px; }
				li#sm_li_gsom { left: 121px; }
				li#sm_tw_gsom { left: 161px; }
				li#sm_cv_gsom { left: 225px; }
				li#sm_nh_gsom { left: 264px; }
				
				ul#socialmedia_gsom li a:hover { text-decoration: none; }


/* pikachoose slideshow FOUC fix */
	.pikachoose li { display:none;}
		