@charset "utf-8";
/* CSS Document */
	
/* body and wrappers */
body { 
	font-family: Verdana, Arial, Helvetica, Sans-Serif; 
	background-color: #EEE; color: #464645; }
	
#webtitle{
	position: absolute;
	margin-top:40px;
	font-family: Georgia, serif;
	color:white;
	font-size: 25px;
	font-weight: bold;
	display: inline-block;
	text-align: center;	}
	
#wrapper { 
	width: 1032px;
	margin: 0 auto; padding-top: 7px;
	/*background: url(/assets2011/images/page_bg.jpg) repeat-y; */}
	
  #innerwrapper { 
  		width: 1032px; min-height: 610px; padding-bottom: 18px;	
		/*background: url(/assets2011/images/page_bottom.jpg) no-repeat bottom center; */}

/* alterations to body and wrappers for modal windows */
	body#modalwindow { background-color: #FFF; margin: 45px 40px 50px 40px; }

		
	#header { 
		width: 990px; height: 93px; 
		position: relative; 
		margin: 0 auto; 
		background: #C33 url(../images/White_Tag_SM.png) no-repeat top left; 		 
		background-size: 233px 93px; }
		
		a#homelink { 
			width: 190px; height: 62px; position: absolute; 
			top: 16px; left: 16px; text-decoration: none; 
			text-indent: -9999px; overflow: hidden; }
			
		a#tagline { 
			position: absolute; width: 600px;
			top: -10px; left: 300px; text-decoration: none; }
			
	/* HOMEPAGE */
	#home_slider { 
		width: 990px; height: 370px;  margin: 0 auto;
		position: relative; z-index: 1; /* z-index must remain for IE 7 z-index bug fix */ }

		.css-slideshow{
		  position: relative;
		  width: 990px; height: 370px;
		  margin: 0.5em auto .5em auto;
		}
		.css-slideshow figure{
		  margin: 0;
		  max-width: 495px;
		  height: 370px;
		  background: #000;
		  position: absolute;
		}		
		.css-slideshow img{
		  box-shadow: 0 0 2px #666;	
		 }
		.css-slideshow figcaption{
		  position: absolute;
		  top: 0;
		  color: #fff;
		  background: rgba(0,0,0, .3);
		  font-size: 1.0em;
		  padding: 8px 12px;
		  opacity: 0;
		  transition: opacity .5s;
		}
		.css-slideshow:hover figure figcaption{
		  transition: opacity .5s;
		  opacity: 1;
		}
		.css-slideshow-attr{
		  max-width: 495px;
		  text-align: right;
		  font-size: .7em;
		  font-style: italic;
		  margin:0 auto;
		}
		.css-slideshow-attr a{
		  color: #666;
		}
		.css-slideshow figure{
		  opacity:0;
		}
		figure:nth-child(1) {
		  animation: xfade 12s 6s infinite;
		}
		figure:nth-child(2) {
		  animation: xfade 12s 0s infinite;
		}
		
		@keyframes xfade{
		  0%{
			opacity: 1;
		  }
		  40% {
			opacity: 1;
		  }
		  50%{
			opacity: 0;
		  }
		  90% {
			opacity: 0;
		  }
		  100% {
			opacity: 1;
		  }
		}		

		#intradaychartdiv {
			width	: 100%;
			height	: 500px;
		}	

		#dailyaveragechartdiv {
			width	: 100%;
			height	: 500px;
		}